<div #mapsRef id="map" class="map-container"></div>

@if (isMarkerDirectiveActive()) {
<ul class="list-group">
  @for (marker of markers(); track $index) {
  <li
    [ngStyle]="{ 'background-color': marker.color }"
    (dblclick)="markerDirective?.deleteMarker(marker.marker)"
    (click)="markerDirective?.flyTo(marker.marker)"
    class="list-group-item"
  >
    Marker{{ $index + 1 }}
  </li>
  }
</ul>
} @if (isZoomRangeDirectiveActive()) {
<div class="floating-range p-2">
  <div class="floating-content">
    <input
      type="range"
      class="form-range custom-range px-2"
      min="-2"
      max="18"
      [value]="zoomRangeDirective!.zoom()"
      (input)="zoomRangeDirective!.zoomChanged(zoomInput.value)"
      #zoomInput
    />
  </div>
  <span class="form-label">
    Zoom: {{ zoomRangeDirective!.zoom() | number : "2.2-2" }}
    <br />
    Lng, Lat: {{ zoomRangeDirective?.currentLngLat()?.lng }}
    {{ zoomRangeDirective?.currentLngLat()?.lat }}
  </span>

  <div class="btn-content">
    <button
      class="btn-zoom btn btn-danger"
      (click)="zoomRangeDirective?.zoomOut()"
    >
      <i class="fa-solid fa-magnifying-glass-minus"></i>
    </button>
    <button
      class="btn-zoom btn btn-primary"
      (click)="zoomRangeDirective!.zoomIn()"
    >
      <i class="fa-solid fa-magnifying-glass-plus"></i>
    </button>
  </div>
</div>
}

<select-map-bar
  class="select-map animate__bounce"
  (changeMap)="onChangeMap($event)"
  [ngClass]="isMapsSelected() ? 'slide-in-up' : 'slide-in-down'"
/>

<button
  class="btn select-button"
  [ngClass]="isMapsSelected() ? 'btn-danger' : 'btn-primary'"
  (click)="toggleSelectMapMenu()"
>
  <img [srcset]="!isMapsSelected() ? 'layers.svg' : 'close.svg'" />
  <!-- <i [ngClass]="['fa-solid', getIconClass()]" class="fa-solid"></i> -->
</button>
<button (click)="flyToPosition()" class="btn btn-success btn-position">
  <img src="position.svg" />
</button>

<!-- <button class="btn btn-success sat-button" (click)="onChangeMap('sat')">
  <fa-icon [icon]="mapIcons()['satelite']"></fa-icon>
  <br />
  Satelite
</button>

<button class="btn btn-warning street-button" (click)="onChangeMap()">
  <fa-icon [icon]="mapIcons()['road']"></fa-icon>
  <br />
  Street
</button> -->
